*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* list-style: none; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.main-content{
    min-height: 1000px;
    /* width: 90%; */
    margin: 20px auto;
    display: grid;
    grid-template-columns: 200px 700px;

}
.left-section{
    grid-column: span 1;
    background-color:#bcbc35;
}
.profile-image{
    
    margin-top:5px ;
    width: 60%;
    border: 1px solid rgb(15, 168, 79);
    border-radius: 10%;
    /* padding: 2rem; */
}
.profile-details,.myself
{
    text-align: center;
}
.status
{
  margin:0px; 
}
.progress-bar{
    border: 1px white solid;
    width: 100%;
    
    background-color: #f7f7f7;
    }
.skill-name
{
    margin-left:5px;
    margin-right:5px ;
}
.skills
{
    text-align: center;
    font-size: large;
    margin-bottom: 5px;
    margin-top: 30px;
    text-decoration: underline;
}
.lang
{
    
    
   
    margin-top: 20px;
    margin-left: 62px;
}


.right-title
{
    margin-left: 90px;
    text-decoration: underline;
    font-size: larger;
}
.about
{
    margin-left: 25px;
    margin-top: 8px;
}
.education
{
    margin-left: 90px;
    text-decoration: underline;
    margin-top: 20px;
}
table,td,th
{
border:1px solid black;
        padding:8px;
        border-collapse: collapse;
        text-align: center;

}
table{
    margin-top: 15px;
    margin-left: 25px;

}

.Project
{
    margin-left: 90px;
    margin-top: 20px;
    text-decoration: underline;
}
.projects,.project2,.project1,.project3
{
    margin-top: 10px;
    margin-left: 60px;
}
.pro
{
margin-top:20px
}
.Language
{
    margin-top: 20px;
    margin-left: 90px;
    text-decoration: underline;
} 
.point1,.point2
{
    margin-top:7px;
}
.hobbi
{
    text-decoration: underline;
    margin-top: 20px;
    margin-left: 90px;
    font-size: large;
}
.Hobby
{
    margin-left: 62px;
    margin-top: 20px;
}
.hobby2
{
    margin-top: 7px
}
.right-section
{
    background-color: beige
}


